.navbar{
    background-color: #FDAF17;
    border-bottom: #052491 2px solid;
}
.nav-link{
    color: beige;
}

.navbar-brand{
    background-color: aliceblue;
    border: white 2px solid;
    border-radius: 15%;
}

.nav-link:hover{
    color: #052491;
}

#botonesinicio{
    position: absolute;
    right: 2%;
}

#crearcuenta{
    color: #C13F75;
    font-weight: bold;
    border: #C13F75 2px solid;
}

#crearcuenta:hover{
    color: white;
    background-color: #C13F75;
}

#iniciarsesion{
    color: #3d7102;
    font-weight: bold;
    border: #3d7102 2px solid;
}

#iniciarsesion:hover{
    color: white;
    background-color: #3d7102;
}

#carruselprincipal{
    padding-top: 1%;
}
