body{
    background-color: #9D968A;
}

*{
    font-family: 'Amiri', serif;
}


.navbar{
    background-color: black;
    border-bottom: black 2px solid;
    font-size: 20px;
    font-weight: 400;
}
.nav-link{
    color: white;
    margin-top: 10px;
}

.navbar-brand{
    background-color: black;
    border: black 2px solid;
    border-radius: 15%;
}

.nav-link:hover{
    color: #605B54;
}

#botonesinicio{
    position: absolute;
    right: 2%;
}

#crearcuenta{
    font-size: 20px;
    font-weight: 400;
    color: white;
    font-weight: bold;
    border: white 2px solid;
    transition: transform 0.3s ease;
    margin-top: 10px;
    display: block;
    width: 150px;
}

#crearcuenta:hover{
    color: white;
    background-color:#9D968A;
    cursor: pointer;
    transform: scale(1.05);
}

#iniciarsesion{
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    border: white 2px solid;
    transition: transform 0.3s ease;
    display: block;
    width: 150px;
}
.noticia {
    width: 50%;
    margin: 20px auto;
    background-color: #E1D6D6;
    color: black;
    padding: 15px;
}
  
.noticia img.izquierda {
    float: left;
    margin-right: 15px;
}
  

  
.reset {
    clear: both;
}